
.notification-top {
    -fx-background-radius: 0 0 5 5;
}

.notification-bottom{
    -fx-background-radius: 5 5 0 0;
}


.text-label {
    -fx-font-weight: bolder;
}
.success {
    -fx-background-color: rgba(28, 148, 20, 0.9);
    -fx-border-width: 2px;
}
.success-label {
    -fx-text-fill: rgba(28, 148, 20, 1.0);
}
.error {
    -fx-background-color: rgba(148, 0, 0, 0.2);
}
.error-label {
    -fx-text-fill: rgba(148, 0, 0, 1.0);
}
.info {
    -fx-background-color: rgba(0, 35, 148, 0.2);
}
.info-label {
    -fx-text-fill: rgba(0, 35, 148, 1.0);
}
.warning {
    -fx-background-color: rgba(255, 187, 0, 0.2);
}
.warning-label {
    -fx-text-fill: #da8b00;
}
