/***********************************************************************************************************************
    MenuBar implemented in a VBox
 **********************************************************************************************************************/
.menubar{
    -fx-background-color: #3399CC;
    -fx-min-width: 50;
    -fx-max-width: 50;
}

.menubar-item{
    -fx-min-width: 50;
    -fx-max-width: 50;
    -fx-min-height: 50;
    -fx-max-height: 50;
}