/***********************************************************************************************************************
    Root Styles
 **********************************************************************************************************************/
.split-pane{
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-padding: 0;
}

.label{
    -fx-text-fill: #E8F8FF;
}


.split-pane-divider{
    -fx-background-color: #3399CC;
}
.vertical-grabber{
    -fx-background-color: #E8F8FF;
}
.horizontal-grabber{
    -fx-background-color: #E8F8FF;
}

/***********************************************************************************************************************
    MenuBar implemented in a VBox
 **********************************************************************************************************************/
.menubar {
    -fx-background-color: #3399CC;
    -fx-min-width: 50;
    -fx-max-width: 50;
}

.menubar-item {
    -fx-min-width: 50;
    -fx-max-width: 50;
    -fx-min-height: 50;
    -fx-max-height: 50;
}

.menu-button {
    -fx-background-color: #3399CC;
    -fx-border-color: #3399CC;
}

.version{
    -fx-text-alignment: center;
}

/***********************************************************************************************************************
    Editor
 **********************************************************************************************************************/
.editor{
    -fx-background-color: #67B8DE;
    -fx-border-color: #67B8DE;
}
/***********************************************************************************************************************
    StationList
 **********************************************************************************************************************/
.stationlist{
    -fx-background-color: #67B8DE;
    -fx-border-color: #67B8DE;
}
/***********************************************************************************************************************
    Footer
 **********************************************************************************************************************/
.footer{
    -fx-background-color: #67B8DE;
    -fx-border-color: #67B8DE;
}
.tree-view{
    -fx-background-color: #67B8DE;
    -fx-border-color: #67B8DE;
}