/***********************************************************************************************************************
    MenuBar implemented in a VBox
 **********************************************************************************************************************/
.menubar {
    -fx-background-color: #3399CC;
    -fx-min-width: 50;
    -fx-max-width: 50;
}

.menubar-item {
    -fx-min-width: 50;
    -fx-max-width: 50;
    -fx-min-height: 50;
    -fx-max-height: 50;
}

.menu-button {
    -fx-background-color: #3399CC;
    -fx-border-color: #3399CC;
}

/***********************************************************************************************************************
    Editor
 **********************************************************************************************************************/
.editor{
    -fx-background-color: #3399CC;
    -fx-border-color: #3399CC;
}
/***********************************************************************************************************************
    StationList
 **********************************************************************************************************************/
.stationlist{
    -fx-background-color: #3399CC;
    -fx-border-color: #3399CC;
}
/***********************************************************************************************************************
    Footer
 **********************************************************************************************************************/
.footer{
    -fx-background-color: #3399CC;
    -fx-border-color: #3399CC;
}